
<!--'include Head'-->
<%- include('partials/head' ,{title: 'products'} )%>
<body class='fondo'>
    <!--'Inlcude HeaderNavbar'-->
    <%- include('partials/headerNavBar') %>
    <form action="<%= product.id_products%>?_method=PUT" method="POST" >
        <input type="text" name="name_products"  value="<%= product.name_products %>" placeholder="Nombre producto">
        <input type="text" name="price" value="<%= product.price %>" placeholder= "precio">
        <input type="submit" value="actualizar">
        <input type="reset" value="Borrar" href='"/users/delete/<%= product.id_products%>"'>
        <br>
        
    </form> 

    
    
    <!--'include footer'-->
<%- include('partials/footer') %>
</body>