<!--'include Head'-->
<%- include('partials/head' ,{title: 'register'} )%>

<body class="fondo">

    <!--'include headerNavBar'-->
    <%- include('partials/headerNavBar') %>
    <main class="register">
      <!--   <% if (locals.errors){
            errors.forEach(function(error) { %>
        <p class="errors"><%= error.msg %></p>
        <% })
            }
         %>   
          -->
         <form action="<%= user.id_users%>?_method=PUT" method="POST" >
            <input type="text" name="firstName"  value="<%= user.firstName %>" placeholder="Nombre">
            <input type="text" name="lastName" value="<%= user.lastName %>" placeholder= "apellido">
            <input type="text" name="userName"   value="<%= user.userName %>"placeholder="Nombre de usuario">
            <input type="email" name="email"  value="<%= user.email %>" placeholder="E-mail">
            <br>
            <br>
            <input type="date" name="dateOfBirth" id="birth_date">
            <!-- <input type="text" name="addres" value="<%= user.addres %>" placeholder="Domicilio">
            <input type="text" name="zipCode"  value="<%= user.zipCode %>" placeholder="Codigo Postal"> -->
            <br>
            <!-- <input name="vendedor" class="vendedor" value="<%= user.rol_users %>" placeholder="rol"> -->
            <br>
            <input type="submit" value="editar">
            <input type="reset" value="Borrar">
            <br>
            <div class="carrito"> <a href="/users/delete/<%= user.id_users%>"> eliminar perfil </a></div>
            <br>
        </form>
    </main>
</body>
<!--'include footer'-->
<%- include('partials/footer') %>
</html>