<!--'include Head'-->
<%- include('partials/head' ,{title: 'register'} )%>

<body class="fondo">

    <!--'include headerNavBar'-->
    <%- include('partials/headerNavBar') %>
    <main class="register">
        <% if (locals.errors){
            errors.forEach(function(error) { %>
        <p class="errors"><%= error.msg %></p>
        <% })
            }
         %>   
         
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="text" name="firstName"  value="<%= locals.old && old.firstName ? old.firstName : '' %>" placeholder="Nombre">
            <input type="text" name="lastName" value="<%= locals.old && old.lastName ? old.lastName : '' %>" placeholder= "apellido">
            <input type="text" name="userName"   value="<%= locals.old && old.userName ? old.userName : '' %>"placeholder="Nombre de usuario">
            <input type="email" name="email"  value="<%= locals.old && old.email ? old.email : '' %>" placeholder="E-mail">
            <br>
            <br>
            <input type="date" name="dateOfBirth" id="birth_date">
            <input type="text" name="addres" value="<%= locals.old && old.addres ? old.addres : '' %>" placeholder="Domicilio">
            <input type="number" name="zipCode"  value="<%= locals.old && old.zipCode ? old.zipCode : '' %>" placeholder="Codigo Postal">
            <h4></h4>
            <input type="password" name="password" placeholder="Elegí tu contraseña">
            <input type="password" name="passwordConfirm" placeholder="Confirmá tu contraseña">
            <br>
            <label name="upload" class="errors">Subir imagen<input type="file" name="uploadImage"></label>
            <br>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
            <br>
            <br>
        </form>
    </main>
</body>
<!--'include footer'-->
<%- include('partials/footer') %>

</html>